@font-face {
    font-family: Inter;
    src: url("material/Inter.ttf");
}

* {
    background-color: #fff;
    font-family: Inter;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* NAV */
#brand {
    width: 100px;
    height: auto;
    display: block;

}

nav {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 13px;

    position: sticky; /* fix later */
}

.nav-button {
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
    color: black;
    border-radius: 15px;
}


.nav-button:hover {
    background-color: #219f89;
}

#nav-button-container {
    align-items: center;
    display: flex;
    gap: 10px;
}
content{
    max-width: 1000px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #cfe1b9;
}

#footer-links-container{
    display: flex;
   
}

.footer-link{
    display: flex;
    flex-direction: column;
}


/* Responsive design for screen sizes 600px or less */
@media (max-width: 600px) {

}